
<div *ngIf="sharedService.isTournApplyVisible" class="modal d-block">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Create Team - Captain</h5>
          <button type="button" class="btn-close"  (click)="closeModal()">
            <span aria-hidden="true"></span>
          </button>
        </div>
        <div class="modal-body">
          <form id="captainF" [formGroup]="sharedService.captainForm" (ngSubmit)="onSubmit()">
            <label for="name" class="form-label mt-3">Captain Name:</label>
            <input id="name" type="text" class="form-control" placeholder="Enter Captain Name" formControlName="name"/>
            <div *ngIf="sharedService.captainForm.get('name')?.invalid && sharedService.captainForm.get('name')?.touched" class="text-danger">
              Captain Name is required.
            </div>
            <label for="number" class="form-label mt-3">Mobile Number:</label>
            <input id="number" type="text" class="form-control" placeholder="Enter Valid Mobile Number" formControlName="mobile"/>
            <div *ngIf="sharedService.captainForm.get('mobile')?.invalid && sharedService.captainForm.get('mobile')?.touched" class="text-danger">
              <div *ngIf="sharedService.captainForm.get('mobile')?.errors?.['required']">Mobile Number is required.</div>
              <div *ngIf="sharedService.captainForm.get('mobile')?.errors?.['pattern']">Mobile Number must be exactly 10 digits.</div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" form="captainF" class="btn btn-primary">Create</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal()">Close</button>
        </div>
      </div>
    </div>
  </div>