
  .landing-page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('/assets/img/cricket.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
  }

  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10; 
  }