<section>
    <div class="container text-bg-primary" style="border-radius: 5px;">
        <h3 class="py-3">1st Round</h3>
    </div>
    <div class="container">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Team A</th>
                        <th>Score</th>
                        <th>Team B</th>
                        <th>Score</th>
                        <th>Winner</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>26/4/24</td>
                        <td>Team 14</td>
                        <td>103/5</td>
                        <td>Team 15</td>
                        <td>105/4</td>
                        <td>Team 15</td>
                    </tr>
                    <tr>
                        <td>26/4/24</td>
                        <td>Team 16</td>
                        <td>33/5</td>
                        <td>Team 17</td>
                        <td>154/3</td>
                        <td>Team 16</td>
                    </tr>
                    <tr>
                        <td>27/4/24</td>
                        <td>Team 18</td>
                        <td>144/2</td>
                        <td>Team 19</td>
                        <td>154/3</td>
                        <td>Team19</td>
                    </tr>
                    <tr>
                        <td>27/4/24</td>
                        <td>Team 20</td>
                        <td>135/4</td>
                        <td>Team 21</td>
                        <td>154/3</td>
                        <td>Team20</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="container text-bg-primary" style="border-radius: 5px;">
        <h3 class="py-3">2nd Round</h3>
    </div>
    <div class="container">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Team A</th>
                        <th>Score</th>
                        <th>Team B</th>
                        <th>Score</th>
                        <th>Winner</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>26/4/24</td>
                        <td>Team 14</td>
                        <td>103/5</td>
                        <td>Team 15</td>
                        <td>105/4</td>
                        <td>Team 15</td>
                    </tr>
                    <tr>
                        <td>26/4/24</td>
                        <td>Team 16</td>
                        <td>33/5</td>
                        <td>Team 17</td>
                        <td>154/3</td>
                        <td>Team 16</td>
                    </tr>
                    <tr>
                        <td>27/4/24</td>
                        <td>Team 18</td>
                        <td>144/2</td>
                        <td>Team 19</td>
                        <td>154/3</td>
                        <td>Team19</td>
                    </tr>
                    <tr>
                        <td>27/4/24</td>
                        <td>Team 20</td>
                        <td>135/4</td>
                        <td>Team 21</td>
                        <td>154/3</td>
                        <td>Team20</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <section class="py-4 py-xl-5">
        <div class="container">
            <div class="text-white bg-primary border rounded border-0 border-primary d-flex flex-column justify-content-between flex-lg-row p-4 p-md-5">
                <div class="pb-2 pb-lg-1">
                    <h2 class="fw-bold mb-2">Team 20</h2>
                    <p class="mb-0">Imperdiet consectetur dolor, tristique himenaeos ultrices tristique neque.</p>
                </div>
                <div class="my-2"><a class="btn btn-light fs-5 py-2 px-4" role="button" href="#">Button</a></div>
            </div>
        </div>
    </section>
</section>