<div class="container">
  <header class="mx-3 mb-3">
    <h3>Previous Tournaments</h3>
  </header>
  <div class="row">
    <div class="col-md-6">
      <label class="form-label">Year: </label
      ><select>
        <optgroup label="This is a group">
          <option value="12" selected>This is item 1</option>
          <option value="13">This is item 2</option>
          <option value="14">This is item 3</option>
        </optgroup>
      </select>
    </div>
    <div class="col-md-6">
      <label class="form-label">Month: </label
      ><select>
        <optgroup label="This is a group">
          <option value="12" selected>This is item 1</option>
          <option value="13">This is item 2</option>
          <option value="14">This is item 3</option>
        </optgroup>
      </select>
    </div>
  </div>
</div>
<div class="container">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Game</th>
          <th>Winner Team</th>
          <th>Explore</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tournament of tournaments">
          <td>{{tournament['date'].toDate() | date:'dd-MM-yyyy' }}</td>
          <td>{{tournament['sport']}}</td>
          <td>Black Panthers</td>
          <td>
            <button
              class="btn btn-primary btn-sm"
              type="button"
              routerLink="/previous-detail"
            >
              View
            </button>
          </td>
        </tr>
        <tr>
          <td>30-1-2024</td>
          <td>Cricket</td>
          <td>Rising Stars</td>
          <td>
            <button
              class="btn btn-primary btn-sm"
              type="button"
              routerLink="/previous-detail"
            >
              View
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
